.welcomeHeadline {
	font-family: Arial;
	font-weight: bold;
	font-size: 16pt;
}

.codedLogo {
	background-image: url("/images/ghost-72.png");
	background-repeat: no-repeat;
	background-position: 100% 10%;
}

body {
    background-color: #222;
    color: #aaa;
}

.jumbotron {
    background-color: #303030;
}