.queueWrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}
.singleCol {
	width: 600px;
}
.vipQueue {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	padding: 0;
	margin: 0;
	width: 590px;
	float: left;
}
.regularQueue {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	padding: 0;
	margin: 0;
	width: 590px;
	float: right;

}

.request {
	display: table-row;
    font-family: "Arial";
    color: #bbbbbb;
    padding: 0px;
    margin: 0px;
	font-size: 12pt;
	border: 5px solid red;
}
.vipText {
	color: #daa520;
}
.requestHeader {
	display: table-cell;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 0px;
}
.requestData {
	display: table-cell;
	width: 80%;
	float: left;
	padding: 5px;
	margin: 0px;
}

.requestBadges {
	display: table-cell;
	width: 20%;
	float: right;
	text-align: right;
	padding: 0;
	padding-right:5px;
	margin: 0px;
}

.odd {
	background-color: #303030;
}
.even {
	background-color: #404040;
}

.requestBadge {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 0;
	padding-top: 0;
}
.priorityBadge {
	background-image: url("/images/ghost-18.png");
}
.firstTimeBadge {
	background-image: url("/images/firstRequest-18.png");
}
.moderatorBadge {
	background-image: url("/images/axe-18.png");
}
