.queueWrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

.vipQueue {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
    width: 50%;
	padding: 0;
	margin: 0;
	float: left;
}
.regularQueue {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
    width: 50%;
	padding: 0;
	margin: 0;
	float: right;

}

.request {
	display: table-row;
    font-family: "Arial";
    color: #bbbbbb;
    padding: 0px;
    margin: 0px;
	font-size: 12pt;
	border: 5px solid red;
}
.vipText {
	color: #daa520;
}
.requestHeader {
	display: table-cell;
	width: 100%;
	text-align: center;
	padding: 5px;
	margin: 0px;
}
.requestData {
    display: table-cell;
    width: 80%;
    float: left;
    padding: 5px;
    margin: 0px;
}
.requestBadges {
    display: table-cell;
    width: 20%;
    float: right;
    text-align: right;
    padding: 0;
    padding-right: 5px;
    margin: 0px;
}

.odd {
	background-color: #303030;
}
.even {
	background-color: #404040;
}

.requestBadge {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 0;
	padding-top: 0;
}
.priorityBadge {
	background-image: url("/images/ghost-18.png");
}
.firstTimeBadge {
	background-image: url("/images/firstRequest-18.png");
}
.removeSongBadge {
	background-image: url("/images/axe-18.png");
    cursor: pointer;
}
.editSongBadge {
    background-image: url("/images/PlaylistEdit.png");
    cursor: pointer;
}
.promoteSongBadge {
    background-image: url("/images/up-arrow.png");
    background-size: 18px 18px;
    cursor: pointer;
}

.promoteSongBadge .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    position: absolute;
    z-index: 1;
}

.promoteSongBadge:hover .tooltiptext {
    visibility: visible;
}

.leftBadge {
    background-image: url("/images/exit.png");
}
#currentSong {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
}
