################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/CoreCodedChatbot/bin
/CoreCodedChatbot/obj
/CoreCodedChatbot.Web/bin/Debug/netcoreapp2.0
/CoreCodedChatbot.Web/obj
/CoreCodedChatbot/config.json
/CoreCordedChatbot.Database/bin
/CoreCordedChatbot.Database/obj
/node_modules
/packages/EntityFramework.6.1.3
/CoreCodedChatbot/appsettings.json
/CoreCodedChatbot.Web/appsettings.Development.json
/CoreCodedChatbot.Web/appsettings.json
/CoreCordedChatbot.Database/appsettings.json
/CoreCodedChatbot/CoreCodedChatbot.csproj.user
/CoreCodedChatbot.Web/CoreCodedChatbot.Web.csproj.user
/.ssh
/CodedChatbot.sln.DotSettings.user
/CoreCodedChatbot.Web/config.json
/CoreCodedChatbot.Tests/obj/
/CoreCodedChatbot.Tests/bin/
/CoreCodedChatbot.Tests/CoreCodedChatbot.Tests.csproj.user
/CoreCodedChatbot.Database/CoreCodedChatbot.Database.csproj.user
/CoreCodedChatbot.Web/wwwroot/lib/
/CoreCodedChatbot.Discord/config.json
/CoreCodedChatbot.Library/obj/
/CoreCodedChatbot.Library/bin/CoreCodedChatbot.Tests/bin
/CoreCodedChatbot.Tests/obj
/CoreCodedChatbot.Library/bin/Debug/netcoreapp2.0
/CoreCodedChatbot.PlaylistApi/obj
/CoreCodedChatbot.Services/obj
/CoreCodedChatbot.Client/bin/Debug/netcoreapp2.0
/CoreCodedChatbot.Client/obj
/CoreCodedChatbot.Client/config.json
/CoreCodedChatbot.Client/appsettings.Development.json
/CoreCodedChatbot.Discord/obj/Debug/netcoreapp2.0
/Website/node_modules
/CoreCodedChatbot.Client/bin/Debug/netcoreapp2.1
/CoreCodedChatbot.Library/bin/Debug/netcoreapp2.1
/CoreCodedChatbot.Web/bin/Debug/netcoreapp2.1
/CoreCodedChatbot.Client/bin/
/CoreCodedChatbot.Client/appsettings.Development.json
/CoreCodedChatbot.Web/hosting.json
/CoreCordedChatbot.Database/config.json
/CoreCodedChatbot.CF/obj
/CoreCodedChatbot.CF/config.json
/CoreCodedChatbot.CF/bin/Debug/netcoreapp2.1
