<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <div class="row main-toolbar">
        <div class="col-sm-4">
            <span>CodedGhost</span>
        </div>
        <div class="col-sm-4">
            <button mat-raised-button color="primary">
                see the list
            </button>
        </div>
        <div class="col-sm-4">
            <div class="row end-sm">
                <div class="col-sm-12">
                    <button mat-raised-button color="primary">
                        login with twich
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>