@model CoreCodedChatbot.Library.Models.SongLibrary.SongLibraryRecords

@{
    ViewBag.Title = "Current Playlist";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Song Name</th>
            <th scope="col">Song Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.dgvSongsMaster)
        {
            <tr>
                <td>@record.colTitle</td>
                <td>@record.colArtist</td>
            </tr>
        }
    </tbody>

</table>
