@model CoreCodedChatbot.Library.Models.View.PlaylistBrowserSource

@{
    ViewBag.Title = "Current Playlist";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StreamList.css" />
}

@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome @Model.TwitchUser.Username!</h3>
    if (Model.TwitchUser.IsMod)
    {
        <h4>Looks like you're a mod! You'll have some features coming soon :D</h4>
    }
}
<div id="messageArea">
    @{
        Html.RenderPartial("Partials/List/Playlist", Model.List);
    }
</div>

<script>

    var chatConnection = new signalR.HubConnectionBuilder()
        .withUrl("/SongList")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    chatConnection.onClosed = e => {
        console.log('connection closed');
    };
    chatConnection.on('Heartbeat',
        () => {
            console.log('ping');
        });
    // This needs to have the currentList populated correctly
    chatConnection.on('SendAll',
        (playlistItems) => {
            $("#messageArea").empty();
            var data = JSON.stringify( playlistItems );
            $.ajax({
                url: '@Url.Action("RenderList", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#messageArea").html(html);
                }
            });
            /*
            var currentList = $("#messageArea").html();
            for (var i = 0; i < data.length; i++) {
                var requestStyle = "";
                if (!!data[i].isInChat) {
                    requestStyle = "color:red";
                }
                $("#messageArea").html(currentList +
                    "<h1 style='" +
                    requestStyle +
                    "'>" +
                    data[i].songRequestText +
                    "</h1>");
                currentList = $("#messageArea").html();
            }*/

            console.log('received message');
        });
    
    chatConnection.start().catch(err => {
        console.log('connection error');
    });

</script>