@model CoreCodedChatbot.Library.Models.View.PlaylistBrowserSource

@{
    ViewBag.Title = "Current Playlist";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/StreamList.css" />
}

<div id="modalContainer"></div>

@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome @Model.TwitchUser.Username!</h3>
    if (Model.TwitchUser.IsMod)
    {
        <h4>Looks like you're a mod! You'll have some features coming soon :D</h4>
    }
}
<div class="queueWrapper">
    @{
        Html.RenderPartial("Partials/List/Playlist", Model);
    }
</div>

<script>

    var chatConnection = new signalR.HubConnectionBuilder()
        .withUrl("/SongList")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    chatConnection.onClosed = e => {
        console.log('connection closed');
    };
    chatConnection.on('Heartbeat',
        () => {
            console.log('ping');
        });

    chatConnection.on('SendAll',
        (regularList, vipList) => {
            $("#regularQueue").empty();
            var data = JSON.stringify( regularList );
            $.ajax({
                url: '@Url.Action("RenderRegularList", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#regularQueue").html(html);
                }
            });

            $("#vipQueue").empty();
            data = JSON.stringify(vipList);
            $.ajax({
                url: '@Url.Action("RenderVipList", "Chatbot")',
                type: "POST",
                data: data,
                contentType: "application/json",
                success: function(html) {
                    $("#vipQueue").html(html);
                }
            });

            console.log('received message');
        });

    chatConnection.start().catch(err => {
        console.log('connection error');
    });

    function showDeleteModal(context) {
        $("#modalContainer").empty();
        var songId = JSON.stringify(event.target.id);
        $.ajax({
            url: '@Url.Action("RenderModal", "Chatbot")',
            type: "POST",
            data: songId,
            contentType: "application/json",
            success: function(html) {
                $("#modalContainer").html(html);
                $("#deleteModal").modal('show');
            }
        });
    }

</script>