
<div class="modal fade" id="emptyPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="emptyPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emptyPlaylistModalLabel">Are you sure you want to empty the playlist?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br />
                <p>Are you sure you want to completely Foop the playlist and refund all VIP requests?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="emptyPlaylist()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function emptyPlaylist() {
        $.ajax({
            url: '@Url.Action("EmptyPlaylist", "Chatbot")',
            type: "POST",
            contentType: "application/json",
            success: function() {
                $("#emptyPlaylistModal").modal('hide');
            }
        });
    }
</script>