<div class="modal fade" id="openPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="openPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="openPlaylistModalLabel">Would you like to open the playlist?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to open the playlist?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="openPlaylist()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function openPlaylist() {
        $.ajax({
            url: '@Url.Action("OpenPlaylist", "Chatbot")',
            type: "POST",
            contentType: "application/json",
            success: function () {
                location.reload();
            }
        });
    }
</script>