@model CoreCodedChatbot.Library.Models.Data.PlaylistItem

@{
    var style = @Model.isInChat ? string.Empty : "color:red";
    
    <h1 style="@style">@Model.songRequestText<span class="glyphicon glyphicon-remove"></span></h1>
}