@model CoreCodedChatbot.Library.Models.View.LoggedInTwitchUser;


<br />
<div class="alert alert-dark" role="alert">
        @if (User.Identity.IsAuthenticated)
        {
    <p>
        <text>Welcome </text>
        @Model.Username<text>!</text>
        <span class="float-right">
            <button type="button" class="btn btn-sm btn-success" onclick="showRequestModal()">Request</button>
        </span>
        <br />
        <text>Your VIPs: @Model.Vips</text> 
        <br />
        <text>Your Bytes: @Model.Bytes</text>
        <br />
        <button type="button" class="btn btn-sm btn-success" onclick="showConvertBytesModal()">Convert</button>

        @if (ViewContext.ViewBag.UserIsMod)
        {
            <br />
            <br />
            if (ViewContext.ViewBag.IsPlaylistOpen)
            {
                <button type="button" class="btn btn-sm btn-success" onclick="showVeryClosePlaylistModal()">Close Playlist</button>
            }
            else
            {
                <button type="button" class="btn btn-sm btn-success" onclick="showOpenPlaylistModal()">Open Playlist</button>
            }
            <button type="button" class="btn btn-sm btn-success" onclick="showEmptyPlaylistModal()">Empty Playlist</button>
            <br />
        }
    </p>
        }
        else
        {
            @Html.ActionLink("Login", "Index", "Login")
            <text> with Twitch to access more features!</text>
        }
</div>