@model CoreCodedChatbot.Library.Models.Data.PlaylistItem[]

<div class="request even">
    <div class="requestHeader">
        <b>Song Requests</b>
    </div>
</div>
@for (var i = 0; i < Model.Length; i++)
{
    Html.RenderPartial(i % 2 == 0 ? "Partials/List/OddPlaylistItem" : "Partials/List/EvenPlaylistItem", Model[i]);
}
