
@{
    ViewBag.Title = "CodedGhost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron codedLogo">
    <div class="row">
        <h1 class="welcomeHeadline">Welcome to the homepage for CodedGhost!</h1>
    </div>
</div>
<div class="row ">
    <iframe
        src="https://player.twitch.tv/?channel=codedghost2"
        height="450"
        width="800"
        scrolling="no"
        allowfullscreen="false"
        autoplay="true"
        muted="true"
        style="margin: 0 auto">
    </iframe>
</div>
<br/>
<div class="row">
    <p>Looking for the current playlist? Go @Html.ActionLink("here", "List", "Chatbot")</p>
</div>