
@{
    ViewBag.Title = "CodedGhost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron codedLogo">
    <div class="row">
        <h1 class="welcomeHeadline">Welcome to the homepage for CodedGhost!</h1>
    </div>
    <br/>
    <div class="row">
            <iframe
                src="https://player.twitch.tv/?channel=codedghost2"
                height="300"
                width="400"
                scrolling="no"
                allowfullscreen="false"
                autoplay="true"
                muted="true">
            </iframe>
    </div>
</div>
<div class="row">
    <p>Looking for the current playlist? Go @Html.ActionLink("here", "List", "Chatbot")</p>
</div>