
@{
    ViewBag.Title = "CodedGhost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to the homepage for CodedGhost!</h1>
</div>
<div class="row">
    <p>Looking for the current playlist? Go @Html.ActionLink("here", "List", "Chatbot")</p>
</div>