
@{
    ViewBag.Title = "CodedChatbot Info";
    Layout = "_Layout";
}

<h3>This is the Rocksmith request chatbot written by CodedGhost</h3>

<script language="javascript">
    debugger;
    console.log(document.location.hash);
</script>